
body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, '微软雅黑', Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

/*
各种颜色的定义
*/
.bggray {
    background-color: #290b00;
}

.bgred {
    background-color: #e84d39;
}

.titlegreen {
    color: #54d8a3;
}

.logotop {
    height: 2em;
}

.text-mywhite {
    color: #f6f6f6;
}

/*各种直线*/
.hrgeen {
    height: 3px;
    border: none;
    border-top: 3px solid #54d8a3;
    width: 3em;

}

/*各种文字标题*/
/*导视&说明*/
.mytext-title2 {
    color: #d8d8d8;
    font-size: 1.5em;

}

.mytext-titlepurple {
    color: #663299;
    font-size: 1.3em;
}

.mytext-titlegreen {
    color: #54d8a3;
    font-family: Arial;
    font-size: 0.7em;
}

.mytext-directions {
    color: #948E9D;

    font-size: 0.85em;
}

.jumbotrontop {
    background: none;
    padding: 4rem 2rem 2rem 2rem;

}

.jumbotron {
    height: 100%;
    background-color: #f6f6f6;
}

/*超链接样式*/

#navbarNav a {
    color: white;
    font-size: 1em;
}

#navbarNav a:hover {

    color: #e84d39;

}

#footer a {
    color: #f6f6f6;
    font-size: 1em;
}

#footer a:hover {
    color: lightgray;
}
#footer
{
    font-size: 0.7em;
}

.vertical-center {
    padding: 0em 0em 4em 0em;
}

.btnaddlong {
    padding: 1em;
}

/*xs*/
@media (min-width: 576px) {

}

/*sm*/
@media (min-width: 768px) {
    .vertical-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btnaddlong {
        padding: 1em 2em;
    }

}

/*md*/
@media (min-width: 992px) {
    .btnaddlong {
        padding: 1em 4em;
    }
}

/*lg*/
@media (min-width: 1200px) {
    .logotop {
        height: 2.5em;
    }

}

/*xg*/
@media (min-width: 1440px) {

}
